<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>routage</title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="js/route.js"></script>
	<!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
	<div id="mxframe" data-ng-app="routeApp">
		<section data-ng-view></section>
		<nav>
			<a href="#/home" class="btn btn-primary">Accueil</a>
			<a href="#/contact" class="btn btn-success">Contact</a>



			<a href="#/details/1" class="btn btn-success">Article 1</a>
			<a href="#/details/2" class="btn btn-success">Article 2</a>
		</nav>
	</div>
</body>
</html>